extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")

block content
  h2 Welcome to GoodBuilds!
  h2 Explore the latest Builds! 
  h2 Featured Display Shelves!