doctype html
html
  head
      block head
        title GoodBuilds - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    .nav-bar
      h2.nav-bar-name GoodBuilds
      if locals.authenticated
        .nav-bar-text
          h3 Welcome #{user.firstName}!
        form(class='inline' action='/logout' method='post')
          button(class='btn btn-sm btn-warning' type='submit') Logout
      else
        .nav-bar-text  
          a(class='button' href='/login') Log In
          a(class='button' href='/signup') Sign Up
    div
        //- img.legoBanner(src="assets/omar-flores-lQT_bOWtysE-unsplash.jpg")
    h1=title
    block content
