doctype html
html
  head
      block head
        title GoodBuilds - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    .nav-bar
      .nav-bar-text
        h2#branding GoodBuilds
        .nav-bar-text 
          a(class='nav-page nav-offset' href='/') Home
          a(class='nav-page nav-offset' href='/builds') Browse
          a(class='nav-page nav-offset' href='/builds/new') Create A Build
          a(class='nav-page nav-offset' href='/') My Profile
      if locals.authenticated
        .nav-bar-text
          h3#welcome Welcome, #{user.firstName}!
          form(class='inline' action='/logout' method='post')
            button(class='button warning' type='submit') Logout
      else
        .nav-bar-text
          a(class='button' href='/login') Log In
          a(class='button' href='/signup') Sign Up
    div.banner
        img.legoBanner(src="https://legoops.files.wordpress.com/2013/05/cropped-lego-banner.jpg")
    h1=title
    .main
      block content
