extends layout

include utils.pug

block content
    +validationErrorSummary(errors)
    form(class='form', action="/builds", method="post") 
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Name', 'name', build.name)
        +field('Image Link', 'imageLink', build.imageLink)
        +field('Lego Item Number (Optional)', 'legoItemNumber', build.legoItemNumber, 'number')
        +field('Piece Count (Optional)', 'pieceCount', build.pieceCount, 'number')
        div(class='form-end')
            a(href='/' class='button warning') Cancel
            button(type='submit' class='button') Create Build