extends layout

include utils.pug

block content
    +validationErrorSummary(errors)
    form(class='form', action="/signup", method="post") 
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('First Name', 'firstName', user.firstName)
        +field('Last Name', 'lastName', user.lastName)
        +field('Email Address', 'email', user.email)
        +field('Password', 'password', '', 'password', 'At least 6 characters')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        div(class='form-end')
            a(href='/' class='button warning') Cancel
            button(type='submit' class='button') Create Account

