extends layout

include utils.pug

block content
  form(class='form', action=`/users/${user.id}/delete`, method="post") 
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='form-end')
      a(href=`/users/${user.id}` class='button') Cancel
      button(type='submit' class='button warning') Delete Profile