* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
}

.nav-bar-name {
  color: #000000;
}

.nav-bar-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.legoBanner{
  object-fit: cover;
  object-position: 20% 10%;
  height: 100px;
  width: 100%;
  left: 0px;
  top: 200px;
}

.button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(127, 202, 255);
  border: 1px solid transparent;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.button:hover {
  border: 1px solid black;
}

.button:active {
  opacity: .7;
}

.button.warning {
  background-color: red;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 1rem;
  text-align: right;
}

.form-end {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}
